.bg-green{
	background-color: green;
}

.blue-text{
	color: green;
}

.bg-yellow{
	background-color: yellow;
}

.bg-black{
	background-color: black;
}

.blue-text{
	color: blue;
}

.bg-green{
	background-color: green;
}

.red-text{
	color: red;
}

